:root{
    /*--nombreVariable: valorVariable;*/
    --fuenteDeLetra : 'Hammersmith One', sans-serif;
    --color1 : #04AA6D;
    --color11: #3e8e41;
    --color2 : #ff7c00;
    --color3 : #F7F1E1;
    --color4 : rgba(82, 81, 81, 0.219);
    --whiteSmoke : #F5F5F5;
    --negro : #202020;
}

/*___GENERAL___*/
/*Hacemos referencia a todos los elementos de la pagina para asignarles la misma fuente de letra y demás atributos y no tener que ir repitiendo elemento a elemento*/
*{
    font-family: var(--fuenteDeLetra);
}
body{
    background-color:var(--color3);
    color: var(--color3);
    margin-top: 50px;
}
main{
    color: var(--negro);
}
a{
    text-decoration: none;
    color: var(--color3);
}
.letraOscura{
    color: var(--negro);
}

/*___BARRA DE NAVEGACIÓN___*/
.navegador{
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 30px;
}
.navBar{
    position: fixed;
    top: 0;
    background-color: var(--negro);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    
    li{
        list-style: none;
    }  
    .aDestinos{
        color: var(--negro);
    }
}
.redes{
    display: flex;
    position: fixed;
    right: 0;
    gap: 30px;
    margin: 50px;

    img{
        width: 30px;
    }
}
.inicio{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.idiomas{
    position: fixed;
    left: 0;
    margin-left: 30px;
}


/*___BOTÓN DROPDOWN___*/
.dropbtn {
    background-color: var(--color1);
    color:var(--color3);
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin: 6px;
}
.dropdown-content {
    display: none;
    position: fixed;
    margin-left: 13px;
    background-color: var(--color3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
    button {
        background: none;
        border: none;
        padding: 12px 16px;
        cursor: pointer;
        margin-left: -40px;
        a:hover {
            background-color: var(--whiteSmoke);
        }
    }
} 
.imgLanguage {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.dropdown:hover {
    .dropdown-content {
        display: block;
    }
    .dropbtn {
        background-color: var(--color11);
    }
}
/*Para modificar el boton dropdown de los países para que no sea igual que el de idioma*/
#botonCambioPaises{
    background-color: var(--negro);
    padding: 0;
}
/*Aquí se quita el espacio vacio a la izquierda de la lista, se centra el texto y se añade un padding de 1 vez el tamaño de fuente (em)*/
#dropdown_ULPaises{
    text-align: center;
    padding-left: 0;
    padding: 1em;
}


/*___BANNERS___*/
/*Botón de Países en el banner principal*/
.buttonBanner{
    color: var(--negro);
    background-color: var(--color3);
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 5px 5px 5px black; /*x-Offset, y-Offset, blur-radius, color */
} 
/*Plantilla General*/
.bannerPlantilla{
    background-size: cover;
    background-position: center;
    height:840px;
    width: auto;
    color: var(--color3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
h2{
    font-size: 70px;
}
h1{
    margin-top: -50px;
    font-size: 30px;
}
.tituloBanners{
    text-shadow:  5px 5px 2px black;
}
#banner{
    background-image: url('resources/img/general/Principal1.jpg');

    h2{
        font-size: 100px;
    }
    h1{
        margin-top: -70px;
        font-size: 40px;
    }
} 
#banner1{
    background-image: url('resources/img/destino1/Alemania.jpg');
}
#banner2{
    background-image: url('resources/img/destino2/Italia.jfif');
}
#banner3{
    background-image: url('resources/img/destino3/Mexico1.jfif');
}


#ofertasDestinos{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    article{
        flex: 1 1 300px;
        max-width: 550px;
        height:630px;
        padding: 20px;
        text-align: center; 
        border-radius: 30px;
        background-color: var(--color4);
        color: var(--negro);
    
        h2{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        img{
            margin-top: -20px;
            max-width: 350px;
            border-radius: 20px;
        }
        .imgDestinyOffer{
            margin-top: -20px;
            height: 233px;
            max-width: 350px;
            border-radius: 20px;
        }
        h3{
            font-size: 30px;
        }
    }
}


/*Cartas*/
.card{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    article{
        width: 1200px;
        height: auto;
        padding: 20px;
        text-align: center; 
        border-radius: 30px;
        background-color: var(--color4);
        color: var(--negro);
        margin-top: -30px;
        margin-bottom: 50px;
        p{
            font-size: 20px;
            margin-bottom: 70px;
        }
        img{
            margin-top: -20px;
            max-width: 350px;
            border-radius: 20px;
        }
        /*No se aplica el estilo general del .card, así que le hacemos referencia directa*/
        #pAboutUs{
            color: var(--negro);
        }
    }
}
.tituloCard{
    text-align: center;
    h2{
        font-size: 100px;
    }
}



/*___Footer___*/
footer{
    display: flex;
    justify-content: center;
    background-color: var(--negro);
    color: var(--color3);
}



.titlePrincipal{
    text-align: center;
    margin-top: 0px;
    margin-bottom: -30px;
    h2{
        font-size: 60px;
    }
}


/*Imagenes Destinos*/
.imagen{
    margin-top: -20px;
    height: 300px;
    border-radius: 20px;
}
.fotos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
}








/*???*/
.titulo{
    font-size: 40px;
}

.Tex1{
    font-size: 20px;
}

/*Los precios salen en todos los textos relacionados con los destinos*/
.precios{
    text-align: center ;
}
.precio{
    font-size: 25px;
    background-color: var(--color2);
    border: 2px solid var(--negro);
    border-radius: 30px;
    padding: 20px;
    display: inline-block;
}
/*Contacto aparece en la pagina del destino 3 (MEXICO)*/
.contacto{
    font-size: 18px; 
    text-align: center;  
    a{
        color: var(--negro);
    }
    
}


